@use 'styles/style.scss' as *;

.wrapper {
  height: 600px;
}
.flex {
  min-width: 1000px;
  padding: 0 35px 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-bottom: 22px;
  font-weight: $fw-bold;
  line-height: 24px;
  color: $color-midnight-blue;
}

.icon {
  color: $color-midnight-blue;
  cursor: pointer;
  position: relative;
  top: -10px;
}
