@use 'styles/style.scss' as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 87px;
  height: 36px;
  border: 2px solid $color-red;
  border-radius: 4px;
  font-family: $font-Inter;
  font-size: 14px;
  line-height: 17px;
  font-weight: $fw-bold;
  text-align: center;
  color: $color-white;
  background-color: $color-red;
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms ease-out;
}

.primary {
  &:hover {
    color: $color-red;
    background-color: $color-white;
    border: 2px solid $color-red;
  }
  &:active {
    border-color: lighten($color-red, 15);
    background-color: lighten($color-red, 15);
  }
}
.secondary {
  background-color: $color-metallic-seaweed;
  outline: none;
  border: none;

  &:hover {
    background: none;
    color: $color-metallic-seaweed;
    border: 1px solid $color-metallic-seaweed;
  }

  &:active {
    border-color: lighten($color-metallic-seaweed, 15);
    background-color: lighten($color-metallic-seaweed, 15);
  }
}

.outline {
  border: none;
  background-color: transparent;
  color: $color-metallic-seaweed;
  border: 1px solid transparent;

  &:hover {
    background-color: transparentize($color-metallic-seaweed, 0.7);
  }
}
