@use 'styles/style.scss' as *;

.menu {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.menuShow {
  display: block;
  z-index: 99999;
  opacity: 1;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $color-black;
  opacity: 0.6;
}

.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  padding: 48px 40px 38px 40px;
  background-color: $color-white;
  transition: all 0.3s ease-in-out;
  transform: translateX(100%);

  -webkit-scrollbar {
    display: none;
  }
}

.wrapperVisible {
  transform: translateX(0%);
}
